@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(-20%);
    }
    75% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(0%);
    }
}

html, body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

.container {
    display: none;
    width: 960px;
    height: 600px;
    border: 2px solid #009fff;
    background-color: #ffece5;
    justify-content: center;
    align-items: center;
}

.bordered {
    border: 2px solid #009fff;
}

.info {
    width: 327px;
    height: 500px;
    margin-left: 10px;
}
.table {
    width: 600px;
    height: 500px;
}

.info > div {
    margin-top: 2rem;
}
.info > div > span {
    font-weight: bold;
    font-size: 30px;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #fefefe;
    color: #0b0b0b;
    font-size: 30px;
    font-weight: bold;
}

button {
    border-color: #f1ae2d;
    width: 150px;
    height: 30px;
    background: #f19e0d;
}

button:hover {
    background-color: #f1be18;
    border-color: #f1c321;
}

.hold {
    background: #ff9f1d !important;
}

.animate-slide {
    animation: slide;
    animation-duration: 500ms;
    animation-timing-function: ease;
}