html, body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 960px;
    height: 600px;
    border: 2px solid #009fff;
    background-color: #ffece5;
}

.bordered {
    border: 2px solid #009fff;
}

.instruction {
    width: 600px;
    height: 100%;
    margin-left: 8px;
}

.start {
    width: 360px;
}

p {
    font-size: 16px;
}

input {
    max-width: 100%;
    border: #009fff 1px solid;
    width: 250px;
    height: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: inherit ;
}

button {
    border-color: #f1ae2d;
    width: 150px;
    height: 30px;
    background: #f19e0d;
}

button:hover {
    background-color: #f1be18;
    border-color: #f1c321;
}